  <div class="page-header">
    <h1>School Management</h1>
    <h2>Home page</h2>

    <h2>Welcome to School Management app</h2>


    <a href="/#/headteacher/pupils">Pupils</a>
    <a href="/#/headteacher/teachers">Teachers</a>
    <a href="/#/headteacher/classes">Classes</a>
    <a href="/#/headteacher/schedules">Schedules</a>
    <a href="/#/headteacher/subjects">Subjects</a>

 
  </div>
