  <div class="page-header">
    <h1>School Management app</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Name"
      ng-model="user.personInfo.name"></input>
     </div>
     <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Surname"
      ng-model="user.personInfo.surname"></input>
    </div>
     <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Middlename"
      ng-model="user.personInfo.middlename"></input>
    </div>
    
    <div class="form-group">
      <input type="date"
      class="form-control"
      placeholder="Birth date"
      ng-model="user.personInfo.birthdate"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Role"
      ng-model="user.role"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>

