
  <div class="page-header">
    <h1>School Management: Head Teacher</h1>
    <h2>Pupils tab</h2>
  </div>
  
   
  <form ng-submit="addPupil()"
    style="margin-top:30px;">
    <h3>Create pupil account</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <div class="form-group">
    
   

  <md-switch ng-model="user.active" aria-label="Active">
    Active: {{ user.active }}
  </md-switch>


    <p>Personal Info</p>
    </div>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Name"
      ng-model="user.personInfo.name"></input>
     </div>
     <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Surname"
      ng-model="user.personInfo.surname"></input>
    </div>
     <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Middlename"
      ng-model="user.personInfo.middlename"></input>
    </div>
    
    <div class="form-group">
      <input type="date"
      class="form-control"
      placeholder="Birth date"
      ng-model="user.personInfo.birthdate"></input>
    </div>


    <div class="form-group">
       <p>Contact Info</p>
    </div>

    <div class="form-group">
      <input type="number"
      class="form-control"
      placeholder="Zip code"
      ng-model="user.contactInfo.zipcode"></input>
    </div>
     <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Country"
      ng-model="user.contactInfo.country"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="City"
      ng-model="user.contactInfo.city"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Street"
      ng-model="user.contactInfo.street"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="House"
      ng-model="user.contactInfo.house"></input>
    </div>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Flat"
      ng-model="user.contactInfo.flat"></input>
    </div>

    <div class="form-group">
      <input type="tel"
      class="form-control"
      placeholder="Phone number"
      ng-model="user.contactInfo.phoneNumber"></input>
    </div>
    <div class="form-group">
      <input type="email"
      class="form-control"
      placeholder="Email"
      ng-model="user.contactInfo.email"></input>
    </div>

    <div class="form-group">
      <input type="hidden"
      class="form-control"
      value="pupil"
      ng-model="user.role"></input>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>


  <table class="table">
    <tr ng-repeat="pupil in pupils | orderBy:'surname' | filter:bySurname"">
      <td> {{pupil.personInfo.name}} </td>
      <td> {{pupil.personInfo.surname}}</td>
      <td> {{pupil.role}}</td>

    </tr>
  </table>
 <button ng-click="getAllPupils(pupils)">Get All</button>
