  <div class="page-header">
    <h1>School Management: Head Teacher</h1>
    <h2>Teachers tab</h2>
  </div>

  <table class="table">
    <tr ng-repeat="teacher in teachers | orderBy:'surname'">
      <td> {{teacher.personInfo.name}} </td>
      <td> {{teacher.personInfo.surname}}</td>
      <td> {{teacher.role}}</td>

    </tr>
  </table>
 <button ng-click="getAllTeachers(teachers)">Get All</button>

<br>

<div class="gridStyle" ng-grid="gridOptions"></div>
<br>
<br>

Name: <input ng-model="testVar">

<div> {{ simpleObj.value }}</div>


