<!DOCTYPE html>
<html  lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>SMapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  
   <link rel="stylesheet" href="/stylesheets/ng-cloak.css" >

<link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css">


 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">



</head>
<body>

  <nav class="navbar navbar-default pull-right" ng-controller="Navigation" >
   
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>


  <!--  <a href="/#/headteacher/pupils">Pupils</a>
    <a href="/#/headteacher/teachers">Teachers</a>
    <a href="/#/headteacher/classes">Classes</a>
    <a href="/#/headteacher/schedules">Schedules</a>
    <a href="/#/headteacher/subjects">Subjects</a> -->
    
  </nav>


<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
<div>
    <md-button><a href="/#/home">Home</a></md-button>
    <md-button><a href="/#/headteacher/pupils">Pupils</a></md-button>
    <md-button><a href="/#/headteacher/teachers">Teachers</a></md-button>
    <md-button><a href="/#/headteacher/classes">Classes</a></md-button>
    <md-button><a href="/#/headteacher/schedules">Schedules</a></md-button>
    <md-button><a href="/#/headteacher/subjects">Subjects</a></md-button>

   
    <!-- <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
        <md-menu-content width="2">
            <md-menu-item>
                <md-button>Help</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>About</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu> -->

</div>
<!-- <div class="nav-buttons">
    <md-button class="md-raised md-accent">My profile</md-button>
    <md-button class="md-raised md-warn">Log Out</md-button>


</div> -->

</div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
   </div>
 </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>



<!-- Angular Material Dependencies -->
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script> 
    
    <!-- Angular Material Javascript now available via Google CDN; version 0.9.4 used here -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script> 





<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>

<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>
  





<!--  <script type="text/javascript" src="ng-grid-1.3.2.js"></script> -->

<script src="/javascripts/angularApp.js"></script>

<script src="/javascripts/config/stateConfig.js"></script>


<script src="/javascripts/service/authentification.service.js"></script>
<script src="/javascripts/service/users.service.js"></script>
<script src="/javascripts/service/subject.service.js"></script>
<script src="/javascripts/service/school-classes.service.js"></script>



<script src="/javascripts/controller/home.controller.js"></script>
<script src="/javascripts/controller/navigation.controller.js"></script>
<script src="/javascripts/controller/authentification.controller.js"></script>

<script src="/javascripts/controller/teachers-ht.controller.js"></script>
<script src="/javascripts/controller/pupils-ht.controller.js"></script>
<script src="/javascripts/controller/schedules-ht.controller.js"></script>
<script src="/javascripts/controller/school-classes-ht.controller.js"></script>
<script src="/javascripts/controller/subjects-ht.controller.js"></script>



</body>
</html>